type hal_displayfeature_realme_hwservice, hwservice_manager_type;
type hal_fingerprint_hwservice_realme, hwservice_manager_type;
type hal_touchfeature_realme_hwservice, hwservice_manager_type;
type hal_mlipay_hwservice, hwservice_manager_type;
type vendor_hal_qspmhal_hwservice, hwservice_manager_type;
